*{
    margin:0;
    padding:0;
}
.bg_image{
width: 100%;
height: 330px;

background:linear-gradient(rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)),url("./img/contact.jpg") top/cover;
background-repeat: no-repeat; 
/* position: relative; */


}

.main_nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.528);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 120;
    /* transition:all 1s; */
   
}

label a{
    text-decoration: none;
    display: flex;
}
.bingo_logo1{
    margin:30px 0px 30px 150px;
   
}
.bingo_logo2{
    visibility:hidden;

}
.clickonit a img{
    visibility: hidden;
}
.icononitto{
    visibility: hidden;
}
.inner_nav{
    display: flex;

    align-items: center;

    margin-left: 150px;
 
    position: relative;


}
.inner_nav li{
    color: white;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    list-style-type: none;
    letter-spacing: 1px;
    transition: color .8s;
}
 
.inner_nav li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color .8s;
}
.inline_nav{
    height: 100px;
    width: fit-content;
    padding: 5% 2%;
    position:absolute;
    visibility: hidden;
    background-color: black;
    

}
.inline_nav li{
    padding-bottom:10px;
}



.inner_nav ion-icon{
    margin-left:2px;
}
.inner_nav li:hover{
    color: #28abe3;
    }
li:hover .inline_nav{
    visibility: visible;
    box-shadow:0px 0px 1px gray;
}
.inner_nav li a:hover{
    color: #28abe3;
    }

.inner_portfolio{
    width: 200px;
    margin:auto;
    /* border: solid; */
    text-align: center;
    color: white;
    /* padding-bottom: 20px; */
}
.inner_portfolio h1{
    padding-top: 160px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    font-size: 33px;
    padding-bottom: 18px;

    
}
.inner_portfolio span{
    display: flex;
    margin-left:44px;
}
.inner_portfolio a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing:0px ;
    margin-right: 7px;
}
.inner_portfolio p{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    /* word-spacing:5px ; */
 /* letter-spacing: 0px; */
 margin-left: 7px;
 
}


    @media screen and (max-width:425px){
        .bg_image{
            height: 320px;
            background:linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.500)),url("./img/contact.jpg") left/cover;
            background-repeat: no-repeat;
        }
        .overlay{
            background-color: rgba(0, 0, 0, 0.64);
            height: 320px;

        }



        .main_nav{
                height: auto;
                background-color: rgb(255, 255, 255);
                flex-wrap: wrap;
                position:fixed;
                padding:0px;
                box-shadow: 0px 2px 5px black;
               
            }
    
            .bingo_logo1{
                /* visibility: hidden; */
                margin: 0px;
                display: none;
            }
            
            .bingo_logo2{
                /* visibility: visible; */
                display: none;
                width: 100%;
                margin:10px 0px 22px 80px;
            }
           
            .clickonit{
                margin: auto;
                  font-size: 40px;
              }
              .clickonit a img{
                  margin:20px 120px 20px 0px;
                  visibility: visible;
                  
              }
              .icononitto{ 
                  margin:20px 0px 10px 0px;
                  visibility: visible;  
                  border: solid 1px;

                  border-color: rgb(174, 173, 173);        
                    color: rgb(73, 73, 73);                 
              }
            .inner_nav{
             flex-direction: column;
             display: none;
             padding-left: 20px;
             transition: all 1s;
             text-align: center;
             margin:auto;
             padding-bottom: 20px;
            }
            .inner_nav li{
                color: black;
                margin-left: 0px;
                margin-right: 0px;
            }
            .inner_nav li a{
      
                color: black;
                font-size: 15px;
            }
            .inline_nav{
                height: auto;
                padding: 10px;
                background-color: white;
                box-shadow: 0px 0px 3px gray;
            }
            .clickonit:hover .inner_nav{
                display: block;
            }
            .inner_portfolio h1{
                padding-top: 150px;
            }
        }

        /* <!-- TECHNOLOGY --> */

.main_technology{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.inner_technology{
    width: 40%;
    height: 370px;
    margin: 15px;
 
}
.inner_technology h1{
    padding-top: 50px;
    font-size: 30px;
    width: 50%;
    font-family: "Catamaran", sans-serif;
}
.inner_technology .p1{
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 10px 0px;
}
.inner_technology .p2{
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 10px 0px;


}.inner_technology .p3{
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 10px 0px;

}
.inner_technology img{
    width: 100%;
    height: 100%;
}
 
@media screen and (max-width:425px) {
    .main_technology{
        height: auto;
        flex-wrap: wrap;
    }
    .inner_technology{
        width: 99%;
        height:auto;
    }
    .inner_technology h1{
        width: 90%;
    }

}










        /* <!-- OUR MISSION AND VISION --> */

.main_omv{
    width: 100%;
    height: fit-content;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}
.inner_omv{
    width: 43%;
    height:fit-content;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    /* margin-left: 50px; */
    /* border: solid; */
    margin:10px;

}
.inner_omv h1{
    font-size: 30px;
    font-family: "Catamaran", sans-serif;
}
.inner_omv p{
    font-size: 16px;
    color: grey;
    padding: 5px 0px;
}
.inner_omv img{
    width: 100%;
    height: 90%;
    padding-top: 20px;
}
@media screen and (max-width:425px) {
    .main_omv{
        flex-wrap: wrap;
    }
    .inner_omv{
        width: 98%;
    }

    
}












        /* PROMO VIDEO */


.main_promo_video{
    width: 100%;
    height:fit-content;
    /* background-color: #f6f6f6; */
    text-align: center;
    padding-bottom: 5%;
}

.inner_promo_video{
    width: 43%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.inner_promo_video h1{
    padding: 80px 0px 10px 0px;
    font-size: 35px;
}
.inner_promo_video p{
    padding: 0px 0px 20px 0px;
    font-size: 17px;
    color: gray;

}
.line{
    width: 80px;
    height: fit-content;
    border: 1px solid ;
    margin: auto;
    color: rgb(223, 222, 222);
}
.inner_promo_video1{
    width: 100%;
    padding: 80px 0px;
}
.main_video{
    width: 50%;
    height: 325px;
    margin: auto;
}
.inner_promo_video2{
    width:100%;
    height:300px;
    background-image: url("./img/call-to-action-bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    
}
.inner_promo_video2 h1{
    width: 85%;
    font-size: 33px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    padding-top:100px;
    animation-name:onon;
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-iteration-count:infinite;
    /* animation-delay:1s; */
    
}
@keyframes onon{
    0%{
        transform:scale(0.1);
    }

    100%{
        transform:scale(1.0);
    }

    
}





@media screen and (max-width:425px) {
    .main_promo_video{
        height: auto;
    }
    .inner_promo_video{
        width: 97%;
    }
   
    .main_video{
        width: 90%;
        height: 200px;
        margin: auto;

    }

    .inner_promo_video2{
        height: auto;
    }
    .inner_promo_video2 h1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}















           /* SNEAK  */

.main_sneak{
    width: 100%;
    height:fit-content;
    /* background-color: #f6f6f6; */
    text-align: center;
    padding-bottom: 5%;


}
.inner_sneak{
    width: 43%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.inner_sneak h1{
    padding: 80px 0px 10px 0px;
    font-size: 35px;
}
.inner_sneak p{
    padding: 0px 0px 20px 0px;
    font-size: 17px;
    color: gray;

}
.line{
    width: 80px;
    height: fit-content;
    border: 1px solid ;
    margin: auto;
    color: rgb(223, 222, 222);
}
.inner_sneak1{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 80px;

}
.sneak_img{
    width: 20%;
    height: 200px;
 

}
.sneak_img img{
    width:100%;
}
.sneak_mobile{
    width: 50%;
    height: 200px;
    display: none;
}
.sneak_mobile img{
    width:100%;
}



@media screen and (max-width:425px){

    .main_sneak{
    overflow-x: hidden;
    }

    .inner_sneak1{
        width:500px;
    }


    .inner_sneak{
        width:95% ;
    }
.sneak_img{
  display: none;
}
.sneak_mobile{
    display: block ;
}

}











            /* LATEST POST */

.main_latest_post{
    width: 100%;
    height:fit-content;
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 10%;
}
.inner_latest_post{
    width: 560px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;

}
.inner_latest_post h1{
    padding: 80px 0px 10px 0px;
    font-size: 40px;
}

.inner_latest_post p{
    padding: 0px 0px 20px 0px;
    font-size: 17px;
    color: gray;
}
.line{
    width: 80px;
    height: fit-content;
    border: 1px solid ;
    margin: auto;
    color: rgb(223, 222, 222);
}
.inner_latest_post2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;


}
.inline_latest_post{
    width: 26%;
    height: 550px;
   background-color: white;
    margin:1%;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
transition:all .8s;
text-align: center;


}
.inline_latest_post:hover{
transform: translateY(-10px);
box-shadow: 0px 3px 10px black;
text-shadow: 0px 1px 1px black;
}
.main_img{
    width: 100%;
    height:65%;
    position: relative;
    overflow: hidden;


}
.main_img img{
    width: 100%;
    height:100%; 
transition: all .35s;
overflow: hidden;

}

.main_img:hover img{
    transform: scale(1.1);
}
.team_overlay{
background-color:#28abe3ad;
height: 0%;
width: 100%;
position: absolute;
bottom:0px;
left: 0px;
right: 0px;
z-index:5;
transition: all .3s;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}
.team_icon ion-icon{
    height: 19px;
    width: 19px;
    padding: 8px;
    border: solid 1px;
    border-radius: 10px;
    margin:8px;
    color: white;
}
.team_icon:hover ion-icon{
    color: #28abe3;
    background-color:white;
    box-shadow:3px 3px 1px white;
}

.main_img:hover .team_overlay{
    height: 23%;
    box-shadow:0px 2px 5px black;
}

.inline_latest_post h1{
margin-top: 17px;
font-size: 22px;
color: rgb(60, 60, 60);
font-family: "Catamaran", sans-serif;
}
.inline_latest_post h5{
    color: rgb(131, 131, 131);

}
.inline_latest_post p{
    margin: 12px;
    font-size: 16px;
    color: rgb(131, 131, 131);
}

@media screen and (max-width:425px){
    
    .main_latest_post{
        width: 100%;
   
        height: auto;
    }
    .inner_latest_post{
        width:100%;
        
    }
 
    .inner_latest_post h1{
        font-size: 37px;
    }
    .inner_latest_post p{
        font-size: 17px;
    }
    .inner_latest_post2{
    width: 100%;
    flex-direction:column;
    }

    .inline_latest_post{
        width: 93%;
        height: auto;
        text-align: center;
    margin-bottom: 5%;
    padding-bottom: 5%;

    }
    .main_img{
        width: 100%;
        height:50%;
        position: relative;
        overflow: hidden;
    
    
    }
}







    /* AWARD */

        .main_award{
            width: 100%;
            height: 500px;
        
        }
        .inner_award{
            width: 41%;
            text-align: center;
            margin: auto;
            font-family: 'Source Sans Pro', sans-serif;
        
        }
        .inner_award h1{
            font-size:35px;
            padding: 60px 0px 10px 0px;
        
        }
        .inner_award p{
            font-size: 17px;
            color: gray;
            padding-bottom:50px ;
        }
        .inner_award1{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inline_award{
            width: 20%;
            /* border: solid 1px; */
            text-align: center;
            padding-top: 50px;
            font-family: 'Source Sans Pro', sans-serif;
        
        }
        .inline_award ion-icon{
            height: 50px;
            width: 50px;
            color: #28abe3;
        }
        .online_award{
            border-right: solid 2px;
           border-color: rgb(214, 214, 214);
        }
        .inline_award h1{
            font-size: 35px;
            color: rgb(45, 45, 45);
        }
        .inline_award h4{
            font-size: 18px;
            color: gray;
        }
        @media screen and (max-width:425px){
        
            .main_award{
                width: 100%;
                height:auto;
                padding-bottom: 60px;
            
            }
            .inner_award{
                width: 98%;
               
            
            }
            .inner_award h1{
                font-size:35px;
                padding: 60px 0px 10px 0px;
            
            }
            .inner_award p{
                font-size: 17px;
                color: gray;
                padding-bottom:10px ;
            }
            .inner_award1{
             
               flex-wrap: wrap;
                
                
            }
            .inline_award{
                width: 90%;
             
            
            }
            .inline_award ion-icon{
                height: 50px;
                width: 50px;
                color: #28abe3;
            }
            .online_award{
               border: none;
            }
            .inline_award h1{
                font-size: 35px;
                color: rgb(45, 45, 45);
            }
            .inline_award h4{
                font-size: 18px;
                color: gray;
            }
        }












        
   /* CONTACT */

   .main_contact{
    width: 100%;
    height: 430px;
    background-image: url("./img/newageimg.jpg");
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
}
.inner_contact{
    width: 40%;
    margin: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    animation-name:zoomin;
    animation-duration: 3s;
}
.inner_contact h1{
    color: black;
}
@keyframes zoomin {
  
    0%{
     transform: scale(0.1);    
    }
    100%{
        transform: scale(1.1);
    }
       
}
.inner_contact h1{
    font-size: 35px;
    color: #ffffff;
    padding:100px 0px  20px 0px;
}
.inner_contact p{
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
}
.inner_contact button{
  
     
        font-size: 15px;
        color: white;
        padding: 15px 40px;
        border: none;
        border-radius: 30px;
        background-color: #28abe3;
         transition: all .5s;
}
.inner_contact button:hover {
    box-shadow:0px 2px 3px black;
    text-shadow: 0px 2px 3px black;
    transform: translateY(-10px);
}
@media screen and (max-width:425px) {
    .main_contact{
     
        height: 430px;
        background-image: url("./img/newageimg.jpg");
        background-position-x:0px;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .inner_contact{
        width: 90%;
    }
    .inner_contact h1{
        font-size: 35px;
     
        padding:100px 0px  15px 0px;
    }
    .inner_contact p{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .inner_contact button{
            padding: 15px 30px;
    }
}











    /* FOOTER */
    .main_media{
        width: 100%;
        height: 100% ;
        background-color: rgb(30, 29, 29);
    }
    .inner_media1{
        height: 80%;
        /* border: solid 1px gray; */
        box-shadow: 0px 0px 2px gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(51, 51, 51, 0.583);
        
    }
    .inline_media{
        color: white;
        margin: 20px 0px 0px 0px ;
       
        font-family: 'Source Sans Pro', sans-serif;
        width: 400px;
        padding: 100px 30px;
        text-shadow: 0px 0px 10px black;
    
    
    }
    .inline_media h1{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .inline_media p{
        font-size: 17px;
        margin-bottom: 50px;
        color: rgb(149, 148, 148);
    
    }
    .inline_media1{
        color: white;
        margin: 10px 0px 18px 150px ;
       
        font-family: 'Source Sans Pro', sans-serif;
        width: fit-content;
        padding: 30px 0px;
        text-shadow: 0px 0px 3px black;
    }
    .inline_media1 h1{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .inline_media1 p a{
        font-size: 17px;
        margin-bottom: 20px;
        transition: all 1s;
        /* color: white; */
        color: rgb(149, 148, 148);
        /* margin: 20px; */
    
        text-decoration: none;
    
    }
    .inline_media1 p:hover a {
        color: #28abe3;
    }
    
    .inner_media2{
        height: 20%;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
    
    }
    .inner_media2 p{
        width: 300px;
        margin: auto;
        padding: 30px;
        font-size: 15px;
        text-align: center;
        color: gray;
    
    }
    .inner_media2 p a{
        text-decoration: none;
        color: #28abe3;
    }
    
    @media screen and (max-width:425px){
       
        .inner_media1{
            height: auto;

            flex-direction: column;
   
        }
        .inline_media{

          margin: 100px 0px 0px 0px;
           width: 90%;
            height: auto;
            padding: 0;
        }
        .inline_media h1{
            font-size: 18px;
            margin-bottom: 30px;
        }
        .inline_media p{
            font-size: 15px;
            margin-bottom: 50px;
            width: 100%;
        }
        .inline_media1{
            color: white;
       
            margin:0px 0px 50px 0px;
            font-family: 'Source Sans Pro', sans-serif;
            width:90%;
            padding: 0px;
        
        }
        .inline_media1 h1{
            font-size: 16px;
            margin-bottom: 25px;
        }
        .inline_media1 p a{
            font-size: 14px;
            margin-bottom: 20px;
            transition: all 1s;
        }
        .inner_media2 p{
            width: 80%;  
  
          }
     
    }