*{
    margin:0;
    padding:0;
}
.bg_img{
width: 100%;
height: 620px;

background:linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.400)),url("background.jpg") center/cover;
background-repeat: no-repeat; 
/* position: relative; */


}

.main_nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.528);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 120;
    /* transition:all 1s; */
   
}

label a{
    text-decoration: none;
    display: flex;
}
.bingo_logo1{
    margin:30px 0px 30px 150px;
   
}
.bingo_logo2{
    visibility:hidden;

}
.clickonit a img{
    visibility: hidden;
}
.icononitto{
    visibility: hidden;
}

.inner_nav{
    display: flex;

    align-items: center;

    margin-left: 150px;
 
    position: relative;


}
.inner_nav li{
    color: white;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    list-style-type: none;
    letter-spacing: 1px;
    transition: color .8s;
}
 
.inner_nav li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color .8s;
}
.inline_nav{
    height: 100px;
    width: fit-content;
    padding: 5% 2%;
    position:absolute;
    visibility: hidden;
    background-color: black;
    

}
.inline_nav li{
    padding-bottom:10px;
}



.inner_nav ion-icon{
    margin-left:2px;
}
.inner_nav li:hover{
    color: #28abe3;
    }
li:hover .inline_nav{
    visibility: visible;
    box-shadow:0px 0px 1px gray;
}
.inner_nav li a:hover{
    color: #28abe3;
    }
    .main_lorem{
        width: 38%;
        height:40%;
        text-align: center;  
        margin: auto;
        padding:180px 0px;  
        color: white;
    }
    .main_lorem h1{
        width: 100%;
        font-family: 'Catamaran', sans-serif;
        font-size: 55px;
        color: white;
        padding-bottom: 10px;
        letter-spacing: 7px;
     animation-name: uptime;
     animation-duration: 4s;
     /* animation-iteration-count: infinite; */
     animation-timing-function:linear;
     text-shadow: 4px 4px 1px rgb(54, 54, 54);

    }
    @keyframes uptime{
        100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-300px);
        }
        0%{
            transform: translateY(-500px);
        }
       
    }
    .main_lorem p{
        width: 87%;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        padding-bottom: 30px;
        margin: auto;
        animation-name: uptime;
        animation-duration: 3s;
        /* animation-iteration-count: infinite; */
        animation-timing-function:linear;
        text-shadow: 1px 2px 1px  rgb(54, 54, 54);
   
    }
    .button_explore{
         width: fit-content;

         padding: 2% 7%;
         border-radius: 40px;
         background-color:#28abe3;

         margin: auto;
         transition: all .1s;
         animation-name: uptime;
         animation-duration: 2s;
         /* animation-iteration-count: infinite; */
         animation-timing-function:linear;
        
    }
    .button_explore a{
        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        transition: all .1s;
    }
    .button_explore:hover{

        box-shadow: 0px 5px 10px rgb(86, 86, 86);
        transform: translateY(-5px);
    }
    .button_explore:hover a{
        color:white;
        text-shadow: 0px 0px 3px black ;
        transform: translateY(-5px);
    }

@media screen and (max-width:425px){
    .bg_img{
        height: 465px;
        background:linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.400)),url("background.jpg") center/cover;
        background-repeat: no-repeat;
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.64);
        height: 465px;

    }
    .main_nav{
            height: auto;
            background-color: rgb(255, 255, 255);
            flex-wrap: wrap;
            position:fixed;
            /* z-index: 25; */
            /* transition: all 3s; */
            box-shadow: 0px 2px 5px black;
           
        }

        .bingo_logo1{
            /* visibility: hidden; */
            display: none;
            margin: 0px;
        }
        
        .bingo_logo2{
            /* visibility: visible; */
            width: 100%;
            margin:10px 0px 30px 80px;
            display: none;
        }
        .clickonit{
            margin: auto;
              font-size: 40px;
              /* border: solid; */
          }
          .clickonit a img{
              margin:20px 120px 20px 0px;
              visibility: visible;
              
          }
          .icononitto{ 
              margin:20px 0px 10px 0px;
              visibility: visible;   
              border: solid 1px;      

              border-color: rgb(174, 173, 173);        
                color: rgb(73, 73, 73);                 
          }

        .inner_nav{
           flex-direction: column;
         display: none;
         /* margin-left: 0px; */
         padding-left: 20px;
         transition: all 1s;
         text-align: center;
         margin:auto;
         padding-bottom: 20px;
        }
        .inner_nav li{
            color: black;
          
            margin-left: 0px;
            margin-right: 0px;
          
        }
        .inner_nav li a{
  
            color: black;
            font-size: 15px;
          
        }
        .inline_nav{
            height: auto;
         
            padding: 10px;
       
            background-color: white;
      
            box-shadow: 0px 0px 3px gray;
        }
        .main_lorem{
            width: 100%;
            height: 100%;
           text-align: center;  
            padding-top: 130px;
        
            color: white; 
        }
        .main_lorem h1{
            width: 100%;
        
            font-size: 25px;
          
           /* margin-left:-30px; */
           text-align: center;
     
        }
        .main_lorem p{
            width: 90%;
         
            font-size: 17px;
        
        }


        .button_explore{
            width: fit-content;
        
            padding: 2% 7%;
            border-radius: 40px;
            /* margin:25px 0px 0px 35px; */
            
           
       }
     
       .clickonit:hover .inner_nav{
            display: block;
        }

}
/* <!-- Aboutus --> */

.main_about_us{
    width: 100%;
    height:700px;
    /* background-color: #f6f6f6; */
    text-align: center;
    padding-bottom: 3%;
}
.inner_about_us{
    width: 44%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.inner_about_us h1{
    padding: 80px 0px 10px 0px;
    font-size: 40px;
}
.inner_about_us p{
    padding: 0px 0px 20px 0px;
    font-size: 17px;
    color: gray;
}
.line{
    width: 80px;
    height: fit-content;
    border: 1px solid ;
    margin: auto;
    color: rgb(223, 222, 222);
}
.inner_about_us1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 0px ;
}
.inline_about_us1{
width: 40%;
height: 400px;
margin-left:100px;


}
.inline_about_us1 img{
    width:100%;
    height: 100%;
}
.inline_about_us2{
    width: 45%;
    height: 400px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
}
.inline_about_us2 .p1{
    padding: 15px 0px 30px 0px;
    font-size: 17px;
    color: gray;
}
.inline_about_us2 .p2{
    padding: 0px 0px 30px 0px;
    font-size: 17px;
    color: gray;
    /* margin: auto; */
}
.inline_about_us2 h3{
    font-size: 25px;
    padding-bottom: 10px;
}
.uline{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    /* border: solid; */
}
.uline ul li{
    list-style: none;
    margin:10px;
    font-size: 15px;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
}
.uline ul li ion-icon{
    color: #28abe3;
    margin-right: 5px;
}
.inline_about_us2 button{
    color: white;
    background-color: #28abe3;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
}
.inner_promo_video2{
    width:100%;
    height:300px;
    background-image: url("call-to-action-bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    
}
.inner_promo_video2 h1{
    width: 85%;
    font-size: 33px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    padding-top:100px;
    animation-name:onon;
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-iteration-count:infinite;
    /* animation-delay:1s; */}

    @keyframes onon{
        0%{
            transform:scale(0.1);
        }
    
        100%{
            transform:scale(1.0);
        }
    
        
    }

@media screen and (max-width:425px) {
    .main_about_us{
        height: auto;
        /* height: auto; */
        padding-bottom: 30%;
    }
    .inner_about_us{
        width: 98%;
    }
    .inner_about_us1{
        flex-wrap: wrap;
        height: auto;
     
    }
    .inline_about_us1{
        width: 100%;
        height: 300px;
        margin-left: 40px;
    }
    .inline_about_us2{
        width: 90%;
        padding: 20px;
    }
    
    .uline{
        width: 98%;
        /* padding-bottom: 0px; */

    }  


    .inner_promo_video2{
        height: auto;
    }
    .inner_promo_video2 h1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width:375px) {
    .main_about_us{
        height: auto;
        /* height: auto; */
        padding-bottom: 40%;
    }
}
@media screen and (max-width:320px) {
    .main_about_us{
        height: auto;
        /* height: auto; */
        padding-bottom: 80%;
        
    }
    .inline_about_us1{
        width: 100%;
        height: 200px;
        margin-left: 40px;
    }
}











           /* SNEAK  */

           .main_sneak{
            width: 100%;
            height:fit-content;
            /* background-color: #f6f6f6; */
            text-align: center;
            padding-bottom: 5%;
        
        
        }
        .inner_sneak{
            width: 43%;
            margin: auto;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        .inner_sneak h1{
            padding: 80px 0px 10px 0px;
            font-size: 35px;
        }
        .inner_sneak p{
            padding: 0px 0px 20px 0px;
            font-size: 17px;
            color: gray;
        
        }
        .line{
            width: 80px;
            height: fit-content;
            border: 1px solid ;
            margin: auto;
            color: rgb(223, 222, 222);
        }
        .inner_sneak1{
            width: 100%;
            display: flex;
            justify-content: center;
            height: fit-content;
            margin-top: 80px;
        
        }
        .sneak_img{
            width: 20%;
            height: 200px;
         
        
        }
        .sneak_img img{
            width:100%;
        }
        .sneak_mobile{
            width: 50%;
            height: 200px;
            display: none;
        }
        .sneak_mobile img{
            width:100%;
        }
        
        
        
        @media screen and (max-width:425px){
        
            .main_sneak{
            overflow-x: hidden;
            }
        
            .inner_sneak1{
                width:500px;
            }
        
        
            .inner_sneak{
                width:95% ;
            }
        .sneak_img{
          display: none;
        }
        .sneak_mobile{
            display: block ;
        }
        
        }

        











        
        /* SERVICE */

        .main_service{
            width: 100%;
            height: 700px;
        padding-bottom: 100px;
        }
        .inner_service{
            width: 41%;
            text-align: center;
            margin: auto;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .inner_service h1{
            font-size:35px;
            padding: 60px 0px 10px 0px;
        }
        .inner_service p{
            font-size: 17px;
            color: gray;
            padding-bottom:20px ;
        }
        .line{
            margin: auto;
            width: 80px;
            border: solid 1px;
            color: rgb(200, 200, 200);
        }
       .inner_service1{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 70px;
        text-align: center;
        
       }
       .inline_service0{
        height:260px;
        width:27%;
        color: white;
        background-color: #28abe3;
        animation-name: colorbink;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        /* animation-delay: 1s; */
       }
       @keyframes colorbink {
        /* 100%{
            color: #28abe3;
            background-color: white;
            
        } */
        100%{
            background-color:#28abe3;
            color:white;
        }
        50%{
            background-color:white;
            color:#28abe3;
        }
        0%{
            background-color:#28abe3;
            color:white;
        }



       }
  
       .inline_service0 ion-icon{
        height: 50px;
        width: 50px;
        padding: 30px;
       }
       .inline_service0 h1{
        font-family: "Catamaran", sans-serif;

        font-size: 19px;
        padding-bottom: 10px;
       }
       .inline_service0 p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        width: 88%;
        margin: auto;
       }


       .inline_service1{
        height:260px;
        width:27%;
        background-color: white;
        animation-name:binkcolor;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
       
       }
       @keyframes binkcolor {
        100%{
            background-color:white;
            color:#28abe3;
        }
        50%{
            background-color:#28abe3;
            color:white;
        }
        0%{
            background-color: white;
            color:#28abe3;
        }
       }
       .inline_service1 ion-icon{
        height: 50px;
        width: 50px;
        padding: 30px;
        color:#28abe3;
        animation-name:iconcolor;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
       }
       @keyframes iconcolor {
        100%{
            /* background-color:white; */
            color:#28abe3;
        }
        50%{
            /* background-color:#28abe3; */
            color:white;
        }
        0%{
            /* background-color: white; */
            color:#28abe3;
        }

       }
       .inline_service1 h1{
        font-family: "Catamaran", sans-serif;

        font-size: 19px;
        padding-bottom: 10px;
        animation-name:iconcolor;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
       }
       @keyframes iconcolor {
        100%{
            /* background-color:white; */
            color:#28abe3;
        }
        50%{
            /* background-color:#28abe3; */
            color:white;
        }
        0%{
            /* background-color: white; */
            color:#28abe3;
        }
    }
       .inline_service1 p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        width: 88%;
        margin: auto;
        color: gray;
        animation-name:iconcolor;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
       }
       @keyframes iconcolor {
        100%{
            /* background-color:white; */
            color:#28abe3;
        }
        50%{
            /* background-color:#28abe3; */
            color:white;
        }
        0%{
            /* background-color: white; */
            color:#28abe3;
        }
    }
@media screen and (max-width:425px) {
    .main_service{
        height: auto;
    }
    .inner_service{
        width: 90%;

    }
    .inline_service0{
        height:260px;
        width:93%;
    }
    .inline_service1{
        height:260px;
        width:93%;
    }
}











    /* CONTACT */

    .main_contact{
        width: 100%;
        height: 430px;
        background-image: url("newageimg.jpg");
        background-position:top;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .inner_contact{
        width: 40%;
        margin: auto;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        animation-name:zoomin;
        animation-duration: 3s;
    }
    @keyframes zoomin {
      
        0%{
         transform: scale(0.1);    
        }
        100%{
            transform: scale(1.1);
        }
           
    }
    .inner_contact h1{
        font-size: 35px;
        color: #ffffff;
        padding:100px 0px  20px 0px;
    }
    .inner_contact p{
        font-size: 18px;
        color: white;
        padding-bottom: 40px;
    }
    .inner_contact button{
      
         
            font-size: 15px;
            color: white;
            padding: 15px 40px;
            border: none;
            border-radius: 30px;
            background-color: #28abe3;
             transition: all .5s;
    }
    .inner_contact button:hover {
        box-shadow:0px 2px 3px black;
        text-shadow: 0px 2px 3px black;
        transform: translateY(-10px);
    }
    @media screen and (max-width:425px) {
        .main_contact{
         
            height: 430px;
            background-image: url("newageimg.jpg");
            background-position-x:0px;
            background-size:cover;
            background-repeat: no-repeat;
        }
        .inner_contact{
            width: 90%;
        }
        .inner_contact h1{
            font-size: 35px;
         
            padding:100px 0px  15px 0px;
        }
        .inner_contact p{
            font-size: 15px;
            padding-bottom: 30px;
        }
        .inner_contact button{
                padding: 15px 30px;
        }
    }
    






    



/* <!-- OURSKILL --> */
.main_skill{
    width: 100%;
    height: 500px;
}
.inner_skill{
    width: 41%;
    text-align: center;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.inner_skill h1{
    font-size:35px;
    padding: 60px 0px 10px 0px;
}
.inner_skill p{
    font-size: 17px;
    color: gray;
    padding-bottom:20px;
}

.inner_skill1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    /* margin: auto; */
}
.inline_skill1{
    width: 40%;
    text-align: left;
    margin:0px 40px 0px 50px;
}
.inline_skill1 h1{
    font-size: 33px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.inline_skill1 p{
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(150, 150, 150);
    padding: 30px 0px 40px 1px;
}
.inline_skill1 button{
    font-size: 13px;
    padding: 15px 35px;
    background-color: #28abe3;
    color: white;
    border: none;
    border-radius: 40px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.inline_skill2{
    width: 43%;
    
}
.inline_skill2 h6{
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    /* color: grey; */
    padding-bottom: 10px;

}

.main_linecolor{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}
.line_bluecolor{
    width: 60%;
    height: 10px;
    background-color: #28abe3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
   
}
.line_whitecolor{
    width:40%;
    height: 10px;
    /* border: solid; */
    background-color:#eae7e7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.line_bluecolor2{
    width: 80%;
    height: 10px;
    background-color: #28abe3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.line_whitecolor2{
    width:20%;
    height: 10px;
    /* border: solid; */
    background-color:#eae7e7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.line_bluecolor3{
    width: 90%;
    height: 10px;
    background-color: #28abe3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.line_whitecolor3{
    width:10%;
    height: 10px;
    /* border: solid; */
    background-color:#eae7e7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.line_bluecolor4{
    width: 70%;
    height: 10px;
    background-color: #28abe3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.line_whitecolor4{
    width:30%;
    height: 10px;
    /* border: solid; */
    background-color:#eae7e7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.image_flexlogo{
    width:100%;
    display: flex;
    padding: 50px 0px;
    overflow: hidden;
}
.image_logodesign{
    height: 150px;
    width: 18%;
}

@media screen and (max-width:425px) {
    .main_skill{
        height: auto;
    }
    .inner_skill{
        width: 98%;
    }

    .inner_skill1{
        flex-wrap: wrap;
        
    }
    .inline_skill1{
        width: 93%;
        margin: 0px;
    }
    .inline_skill2{
        width: 93%;
        
    }
    .image_logodesign{
        height: 80px;
        width: 40%;
    }
    

    
}



    /* AWARD */

    .main_award{
        width: 100%;
        height: 500px;
    
    }
    .inner_award{
        width: 41%;
        text-align: center;
        margin: auto;
        font-family: 'Source Sans Pro', sans-serif;
    
    }
    .inner_award h1{
        font-size:35px;
        padding: 60px 0px 10px 0px;
    
    }
    .inner_award p{
        font-size: 17px;
        color: gray;
        padding-bottom:50px ;
    }
    .inner_award1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .inline_award{
        width: 20%;
        /* border: solid 1px; */
        text-align: center;
        padding-top: 50px;
        font-family: 'Source Sans Pro', sans-serif;
    
    }
    .inline_award ion-icon{
        height: 50px;
        width: 50px;
        color: #28abe3;
    }
    .online_award{
        border-right: solid 2px;
       border-color: rgb(214, 214, 214);
    }
    .inline_award h1{
        font-size: 35px;
        color: rgb(45, 45, 45);
    }
    .inline_award h4{
        font-size: 18px;
        color: gray;
    }
    @media screen and (max-width:425px){
    
        .main_award{
            width: 100%;
            height:auto;
            padding-bottom: 60px;
        
        }
        .inner_award{
            width: 98%;
           
        
        }
        .inner_award h1{
            font-size:35px;
            padding: 60px 0px 10px 0px;
        
        }
        .inner_award p{
            font-size: 17px;
            color: gray;
            padding-bottom:10px ;
        }
        .inner_award1{
         
           flex-wrap: wrap;
            
            
        }
        .inline_award{
            width: 90%;
         
        
        }
        .inline_award ion-icon{
            height: 50px;
            width: 50px;
            color: #28abe3;
        }
        .online_award{
           border: none;
        }
        .inline_award h1{
            font-size: 35px;
            color: rgb(45, 45, 45);
        }
        .inline_award h4{
            font-size: 18px;
            color: gray;
        }
    }








/* ourwork */

.main_work{
width: 100%;
height: 900px;
font-family: 'Source Sans Pro', sans-serif;
padding-bottom:100px ;
}
.inner_work{
width: 45%;
margin: auto;
text-align: center;
}

.inner_work h1{
font-size: 40px;
padding: 80px 0px 15px 0px;
}

.inner_work p{
font-size: 18px;
color: grey;
padding: 0px 0px 20px 0px;
}

.inner_work .line{
margin: auto;
width: 80px;
border: solid 1px;
color: rgb(186, 186, 186);
margin-bottom: 20px;

}
.inner1_work{
width: 100%;
height: 800px;

}
.inline_work{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.line_work{
margin: 10px;
height: fit-content;
width: fit-content;
padding: 5px;
background-color: #28abe3;
color: white;
}
.inline_work1{
width: 100%;
padding-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.image{
height: fit-content;
width: fit-content;
margin: 10px;
position: relative;
overflow: hidden;
}
.image img{
height: 300px;
width: 300px;


}
.image:hover img{
transform:scale(1.2); 
transition: all .8s;

}
.obey{
background-color: rgba(0, 0, 0, 0.622);
height:0px;
width:300px;
/* top: 0; */
top: 0;
position: absolute;
display:flex ;
justify-content: center;
align-items: center;
flex-direction: column;
visibility:hidden ;
transition: all .9s;
/* transform: translateY(5px); */

}
.obey ion-icon{
height: 50px;
width: 50px;
color: #28abe3;
}
.obey h1{
color: white;

}
.image:hover .obey{
/* transform: translateY(-2px); */
height: 100%;
visibility: visible;
transition: all .8s;
}


@media screen and (max-width:425px) {

.main_work{
/* width: 100%; */
height: auto;
padding-bottom: 1950px;
/* font-family: 'Source Sans Pro', sans-serif; */

}
.inner_work{
width: 98%;
margin: auto;
text-align: center;
}

.inner_work h1{
font-size: 40px;
padding: 100px 0px 15px 0px;
}

.inner_work p{
font-size: 18px;
color: grey;
padding: 0px 0px 30px 0px;
}

.inner_work .line{
margin: auto;
width: 80px;
border: solid 1px;
color: rgb(186, 186, 186);
margin-bottom: 50px;

}
.inner1_work{
width: 100%;
height: 800px;
}
.inline_work{

flex-wrap: wrap;
}
.inline_work1{
width: 100%;
height: auto;
padding-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.image{
height: fit-content;
width: fit-content;
margin: 10px;
}
.image img{
height: 300px;
width: 300px;
}



}


        
                    /* LATEST POST */

.main_latest_post{
    width: 100%;
    height:fit-content;
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 10%;
}
.inner_latest_post{
    width: 560px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;

}
.inner_latest_post h1{
    padding: 80px 0px 10px 0px;
    font-size: 40px;
}

.inner_latest_post p{
    padding: 0px 0px 20px 0px;
    font-size: 17px;
    color: gray;
}
.line{
    width: 80px;
    height: fit-content;
    border: 1px solid ;
    margin: auto;
    color: rgb(223, 222, 222);
}
.inner_latest_post2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;


}
.inline_latest_post{
    width: 26%;
    height: 550px;
   background-color: white;
    margin:1%;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
transition:all .8s;
text-align: center;


}
.inline_latest_post:hover{
transform: translateY(-10px);
box-shadow: 0px 3px 10px black;
text-shadow: 0px 1px 1px black;
}
.main_img{
    width: 100%;
    height:65%;
    position: relative;
    overflow: hidden;


}
.main_img img{
    width: 100%;
    height:100%; 
transition: all .35s;
overflow: hidden;

}

.main_img:hover img{
    transform: scale(1.1);
}
.team_overlay{
background-color:#28abe3ad;
height: 0%;
width: 100%;
position: absolute;
bottom:0px;
left: 0px;
right: 0px;
z-index:5;
transition: all .3s;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}
.team_icon ion-icon{
    height: 19px;
    width: 19px;
    padding: 8px;
    border: solid 1px;
    border-radius: 10px;
    margin:8px;
    color: white;
}
.team_icon:hover ion-icon{
    color: #28abe3;
    background-color:white;
    box-shadow:3px 3px 1px white;
}

.main_img:hover .team_overlay{
    height: 23%;
    box-shadow:0px 2px 5px black;
}

.inline_latest_post h1{
margin-top: 17px;
font-size: 22px;
color: rgb(60, 60, 60);
font-family: "Catamaran", sans-serif;
}
.inline_latest_post h5{
    color: rgb(131, 131, 131);

}
.inline_latest_post p{
    margin: 12px;
    font-size: 16px;
    color: rgb(131, 131, 131);
}

@media screen and (max-width:425px){
    
    .main_latest_post{
        width: 100%;
   
        height: auto;
    }
    .inner_latest_post{
        width:100%;
        
    }
 
    .inner_latest_post h1{
        font-size: 37px;
    }
    .inner_latest_post p{
        font-size: 17px;
    }
    .inner_latest_post2{
    width: 100%;
    flex-direction:column;
    }

    .inline_latest_post{
        width: 93%;
        height: auto;
        text-align: center;
    margin-bottom: 5%;
    padding-bottom: 5%;

    }
    .main_img{
        width: 100%;
        height:50%;
        position: relative;
        overflow: hidden;
    
    
    }
}


/* <!-- ALEXENDER --> */

.main_alexender{
    width: 100%;
    height: 600px;
    }
    .inner_alexender{
        
        height: 65%;
        background-color: #28abe3;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    
    }
    .inner_alexender ion-icon{
        height:55px;
        width:55px;
        color:white;
        padding-top: 100px;
    }
    .inner_alexender p{
        font-size: 18px;
        width: 60%;
        margin: auto;
        color: white;
        padding-top: 50px;
    
    }
    .inline_alexender{
        height: 120px;
        width: 120px;
        margin: auto;
        border-radius: 100px;
        /* overflow: hidden; */
        padding-top: 50px;
    }
    .inline_alexender img{
        height: 100%;
        width: 100%;
        border-radius: 100px;
    }
    .inner_alexender h1{
        font-size: 35px;
        color:rgb(51, 51, 51);
        padding: 10px 0px;
    }
    .inner_alexender h6{
        font-size: 15px;
        color: grey;
    }
    @media screen and (max-width:425px){
        .main_alexender{
            height:720px;
            }
        .inner_alexender p{
            width: 70%;
        }
        .inline_alexender{
            padding-top: 20px;
        }
    }
    
    @media screen and (max-width:375px){
        .main_alexender{
            height:720px;
            }
        .inner_alexender p{
            width: 80%;
        }
        .inline_alexender{
            padding-top: 20px;
        }
    }
    @media screen and (max-width:320px){
        .main_alexender{
            height:720px;
            }
        .inner_alexender p{
            width: 90%;
        }
        .inline_alexender{
            padding-top: 20px;
        }
    }
    



.main_plans{
    width:100%;
    height: 800px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("pricing-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 150px;
}
.overlayy{
    background-color: rgba(0, 0, 0, 0.627);
    position: absolute;
    height: 800px;
    width: 100%;
    padding-bottom: 150px;
    
}
.inner_plans{
    width: 43%;
    margin: auto;
    padding: 50px 0px;
}

.inner_plans h1{
    font-size: 35px;
    padding: 50px 0px 10px 0px;
    color: white;
}
.inner_plans p{
    font-size: 17px;
    padding-bottom:25px ;
    color: white;
}
.inner_plans .line{
    width: 80px;
    border: solid 1px;
    color: white;
    margin: auto;
    
    }
.inner_plans1{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
}
.inline_plans{
    height:600px;
    width: 26%;
    background-color: white;
    margin: 15px;
}
.online_plans{
width: 70%;
height: 99%;
text-align: left;
margin: auto;

}
.online_plans h5{
font-size: 15px;
padding:80px 0px 10px 0px ;
letter-spacing: 2px;
}
.online_plans h1{
font-size: 50px;
color:#28abe3;
padding: 0px 0px 10px 0px ;
}
.online_plans p{
color: rgb(158, 158, 158);
}
.online_plans ul li{
list-style-type: none;
margin: 20px 0px;
color: rgb(101, 100, 100);
}
.online_plans button{
font-size: 13px;
padding: 15px 40px;
background-color: #28abe3;
border: none;
border-radius: 30px;
color: white;
font-family: 'Source Sans Pro', sans-serif;
letter-spacing: 1px;
margin-top: 10px;

}

@media screen and (max-width:425px){
.main_plans{
width: 100%;
height:auto;
background-position:center;
background-repeat: no-repeat;
background-size:cover;
/* position:; */
padding-bottom:2250px ;
}
.overlayy{
height:auto;
padding-bottom:65px;
}
.inner_plans{
width: 98%;
}
.inner_plans1{
flex-wrap: wrap;
}
.inline_plans{
width: 100%;
}
.online_plans{
width: 70%;
}



}



        /* getintouch */


        .main_get_in_touch{
            width: 100%;
            height:700px;
            /* background-color: #f6f6f6; */
            text-align: center;
            padding-bottom: 4%;
        }
        .inner_get_in_touch{
            width: 44%;
            margin: auto;
            font-family: 'Source Sans Pro', sans-serif;  
        }
        .inner_get_in_touch h1{
            padding: 80px 0px 10px 0px;
            font-size: 35px;
            color: rgb(45, 44, 44);
        }
        .inner_get_in_touch p{
            padding: 0px 0px 20px 0px;
            font-size: 17px;
            color: gray;
        }
        .line{
            width: 80px;
            height: fit-content;
            border: 1px solid ;
            margin: auto;
            color: rgb(223, 222, 222);
        }

        .inner_get_in_touch1{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            
        }
        .inline_get_in_touch{
            width: 43%;
            height: 400px;
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;  
        }
        .inline_get_in_touch h1{
            font-size: 30px;
            padding-bottom: 20px;
        }
        .inline_get_in_touch p{
            color: grey;
            font-size:17px ;
            padding-bottom: 20px;
        }
        .inline_get_in_touch ul li{
            list-style-type: none;
            padding: 10px;
        }
        .icons{
            font-size: 20px;
           color: rgb(86, 86, 86);
        }
        .icons ion-icon{
            border: solid 1px;
            padding: 15px;
            border-radius:30px ;
            border-color: rgb(218, 218, 218); 
           margin: 5px;
           transition: all 2s;
        }
        .icons  ion-icon:hover{
            background-color: #28abe3;
            border:#28abe3;
            color: white;
        }
        input{
            width: 90%;
            height: 40px;
            border: solid 1px;
            color: rgb(187, 187, 187);
            border-radius: 0px;
            padding-left: 10px;
            font-size: 15px;
            margin: 12px 10px;
            border-color: rgb(223, 223, 223);
            font-family: 'Source Sans Pro', sans-serif;  
            touch-action: auto;
            transition: all .2s;

            
        }
        input:hover{
            border-color: #28abe3;
        }
        input:focus{
            outline-color:rgb(223, 223, 223);
        }
        textarea{
            width: 90%;
            height: 120px;
            border: solid 1px;
            color: rgb(187, 187, 187);
            border-radius: 0px;
            padding-left: 10px;
            font-size: 15px;
            margin: 12px 10px;
            border-color: rgb(223, 223, 223);
            font-family: 'Source Sans Pro', sans-serif;  
            transition: all .1s;

        }
        textarea:focus{
            outline-color: rgb(223, 223, 223);
            /* -moz-outline-radius: 0px; */
            /* border: solid 1px ; */
            /* border-radius: none; */
        }
        textarea:hover{
            border-color: #28abe3;
        }

        .submit_button{
            font-family: 'Source Sans Pro', sans-serif;  
            width: 92%;
            height: 40px;
            background-color: #28abe3;
            border: none;
            color: white;
            margin: 12px 10px;
            font-weight: bolder;
            transition: all 1s;
        }
        .submit_button:hover{
            background-color: white;
            color: #28abe3;
            box-shadow: 0px 0px 10px #28abe3;
        }


@media screen and (max-width:425px) {
    .main_get_in_touch{
        height: auto;
        padding-bottom: 5%;
    }
    .inner_get_in_touch{
        width: 93%;
    }

    .inner_get_in_touch1{
        flex-wrap:wrap ;
    }
    .inline_get_in_touch{
        width: 95%;
        height: 450px;

    }



}


              /* FOOTER */
              .main_media{
                width: 100%;
                height: 100% ;
                background-color: rgb(30, 29, 29);
            }
            .inner_media1{
                height: 80%;
                /* border: solid 1px gray; */
                box-shadow: 0px 0px 2px gray;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(51, 51, 51, 0.583);
                
            }
            .inline_media{
                color: white;
                margin: 20px 0px 0px 0px ;
               
                font-family: 'Source Sans Pro', sans-serif;
                width: 400px;
                padding: 100px 30px;
                text-shadow: 0px 0px 10px black;
            
            
            }
            .inline_media h1{
                font-size: 19px;
                margin-bottom: 20px;
            }
            .inline_media p{
                font-size: 17px;
                margin-bottom: 50px;
                color: rgb(149, 148, 148);
            
            }
            .inline_media1{
                color: white;
                margin: 10px 0px 18px 150px ;
               
                font-family: 'Source Sans Pro', sans-serif;
                width: fit-content;
                padding: 30px 0px;
                text-shadow: 0px 0px 3px black;
            }
            .inline_media1 h1{
                font-size: 19px;
                margin-bottom: 20px;
            }
            .inline_media1 p a{
                font-size: 17px;
                margin-bottom: 20px;
                transition: all 1s;
                /* color: white; */
                color: rgb(149, 148, 148);
                /* margin: 20px; */
            
                text-decoration: none;
            
            }
            .inline_media1 p:hover a {
                color: #28abe3;
            }
            
            .inner_media2{
                height: 20%;
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
            
            }
            .inner_media2 p{
                width: 300px;
                margin: auto;
                padding: 30px;
                font-size: 15px;
                text-align: center;
                color: gray;
            
            }
            .inner_media2 p a{
                text-decoration: none;
                color: #28abe3;
            }
            
            @media screen and (max-width:425px){
               
                .inner_media1{
                    height: auto;
        
                    flex-direction: column;
                  
                }
                .inline_media{
               
                  margin: 100px 0px 0px 0px;
                   width: 90%;
                    height: auto;
                    padding: 0;
                }
                .inline_media h1{
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                .inline_media p{
                    font-size: 15px;
                    margin-bottom: 50px;
                    /* color: rgb(149, 148, 148); */width: 100%;
                
                }
                .inline_media1{
                    color: white;
                    /* margin: 10px 0px 0px 50px ; */
                    margin:0px 0px 50px 0px;
                    font-family: 'Source Sans Pro', sans-serif;
                    width:90%;
                    padding: 0px;
                
                }
                .inline_media1 h1{
                    font-size: 16px;
                    margin-bottom: 25px;
                }
                .inline_media1 p a{
                    font-size: 14px;
                    margin-bottom: 20px;
                    transition: all 1s;
                }
                .inner_media2 p{
                    width: 80%;  
          
                  }
             
            }





