*{
    margin: 0;
    padding: 0;
}
.pageonfire{
    width: 100%;
    /* margin: auto; */
    text-align: center;

}
.pageonfire h1{
    font-size: 350px;
    /* margin: auto; */
}
.pageonfire h2{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.pageonfire p{
    font-size: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    background-color:skyblue;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .2s;
    /* transform: translateX(10px); */
    animation-name: circle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes circle {
    
    100%{
    transform: translateY(-10px);
    background-color: yellow;
    color: skyblue;
    box-shadow: 0px 2px 5px black;
    }


}
