*{
    margin:0;
    padding:0;
}
.bg_image{
width: 100%;
height: 330px;

background:linear-gradient(rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)),url("./img/contact.jpg") top/cover;
background-repeat: no-repeat; 
/* position: relative; */


}

.main_nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.528);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 120;
    /* transition:all 1s; */
   
}

label a{
    text-decoration: none;
    display: flex;
}
.bingo_logo1{
    margin:30px 0px 30px 150px;
   
}
.bingo_logo2{
    visibility:hidden;

}
.clickonit a img{
    visibility: hidden;
}
.icononitto{
    visibility: hidden;
}
.inner_nav{
    display: flex;

    align-items: center;

    margin-left: 150px;
 
    position: relative;


}
.inner_nav li{
    color: white;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    list-style-type: none;
    letter-spacing: 1px;
    transition: color .8s;
}
 
.inner_nav li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color .8s;
}
.inline_nav{
    height: 100px;
    width: fit-content;
    padding: 5% 2%;
    position:absolute;
    visibility: hidden;
    background-color: black;
    

}
.inline_nav li{
    padding-bottom:10px;
}



.inner_nav ion-icon{
    margin-left:2px;
}
.inner_nav li:hover{
    color: #28abe3;
    }
li:hover .inline_nav{
    visibility: visible;
    box-shadow:0px 0px 1px gray;
}
.inner_nav li a:hover{
    color: #28abe3;
    }

.inner_portfolio{
    width: 200px;
    margin:auto;
    /* border: solid; */
    text-align: center;
    color: white;
    /* padding-bottom: 20px; */
}
.inner_portfolio h1{
    padding-top: 160px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    font-size: 33px;
    padding-bottom: 18px;

    
}
.inner_portfolio span{
    display: flex;
    margin-left:32px;
}
.inner_portfolio a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing:0px ;
    margin-right: 7px;
}
.inner_portfolio p{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    /* word-spacing:5px ; */
 /* letter-spacing: 0px; */
 margin-left: 7px;
 
}


    @media screen and (max-width:425px){
        .bg_image{
            height: 320px;
            background:linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.500)),url("./img/contact.jpg") left/cover;
            background-repeat: no-repeat;
        }
        .overlay{
            background-color: rgba(0, 0, 0, 0.64);
            height: 320px;

        }



        .main_nav{
                height: auto;
                background-color: rgb(255, 255, 255);
                flex-wrap: wrap;
                position:fixed;
                padding:0px;
                box-shadow: 0px 2px 5px black;
               
            }
    
            .bingo_logo1{
                /* visibility: hidden; */
                display: none;
                margin: 0px;
            }
            
            .bingo_logo2{
                /* visibility: visible; */
                width: 100%;
                margin:10px 0px 22px 80px;
                display: none;
            }

              
            .clickonit{
                margin: auto;
                  font-size: 40px;
                  /* border: solid; */
              }
              .clickonit a img{
                  margin:20px 120px 20px 0px;
                  visibility: visible;
                  
              }
              .icononitto{ 
                  margin:20px 0px 10px 0px;
                  visibility: visible;
                  border: solid 1px;

                  border-color: rgb(174, 173, 173);        
                  color: rgb(73, 73, 73);                   
              }
           
    
            .inner_nav{
             flex-direction: column;
             display: none;
             padding-left: 20px;
             transition: all 1s;
             text-align: center;
             margin: auto;
             padding-bottom: 20px;
            }
            .inner_nav li{
                color: black;
                margin-left: 0px;
                margin-right: 0px;
            }
            .inner_nav li a{
      
                color: black;
                font-size: 15px;
            }
            .inline_nav{
                height: auto;
                padding: 10px;
                background-color: white;
                box-shadow: 0px 0px 3px gray;
            }
            .clickonit:hover .inner_nav{
                display: block;
            }
            .inner_portfolio h1{
                padding-top: 150px;
            }
        }




        /* AGENCY */

        .main_agency{
            width: 100%;
            height: 800px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            background-color:#f6f6f6;
        
        }
        .inner_agency{
            width: 43%;
            margin: auto;
        }
        .inner_agency h1{
            font-size: 35px;
            padding: 100px 0px 10px 0px;
        }
        .inner_agency p{
            font-size: 17px;
            padding-bottom:25px ;
            color: rgb(148, 148, 148);
        }
        .inner_agency .line{
        width: 80px;
        border: solid 1px;
        color: rgba(212, 210, 210, 0.84);
        margin: auto;
        }
        .inner_agency1{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inline_agency{
            width: 50%;
            height: 400px;
            
        }
        .inline_agency img{
        padding-top: 50px;
        width: 70%;
        height: 80%;
        }
        
        .inline_agency ul{
            width: 90%;
        }
        .online_agency{
            display: inline-flex;
            /* align-items: center; */
            /* justify-content: center; */
            /* flex-wrap: wrap; */
        margin-left: 50px;
        }
        .icon{
            height: 30px;
            width: 30px;
            border: solid;
            border-radius: 50%;
        
        }
        .icon ion-icon{
            height: 100%;
            width: 100%;
        }
        .online_agency p::before{
            content:"\2611";
            
            /* text-align: left; */
            font-size: 25px;
            color:gray;
            margin-right: 40px;
        }
        .online_agency p{
            text-align: left;
            margin-left: 20px;
            margin-top: 5px;
        }
        .button{
            padding: 15px 40px;
            border: none;
            border-radius: 30px;
            background-color: #28abe3;
            color: white;
            transition: all .1s;
            margin-top: 20px;
        }
        .button:hover{
            box-shadow: 0px 2px 5px black;
            text-shadow: 0px 2px 3px black;
        }
        
        @media screen and (max-width:425px) {
            .main_agency{
                height: auto;
                padding-bottom: 50px;
            }
            
            .inner_agency{
                width: 98%;
                
            }
        
            .inner_agency1{
        
              flex-wrap: wrap;
            }
            .inline_agency{
                width: 100%;
                height: fit-content;
            
            }
            .inline_agency img{
            padding-top: 50px;
            width: 97%;
            height:100%;
            }
        
        }
        





        /* <!--GRATEST PLANS --> */
        .main_plans{
            width:100%;
            height: 800px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: url("./img/pricing-bg.jpg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            padding-bottom: 150px;
        }
        .overlayy{
            background-color: rgba(0, 0, 0, 0.627);
            position: absolute;
            height: 800px;
            width: 100%;
            padding-bottom: 150px;
            
        }
        .inner_plans{
            width: 43%;
            margin: auto;
            padding: 50px 0px;
        }
        
        .inner_plans h1{
            font-size: 35px;
            padding: 50px 0px 10px 0px;
            color: white;
        }
        .inner_plans p{
            font-size: 17px;
            padding-bottom:25px ;
            color: white;
        }
        .inner_plans .line{
            width: 80px;
            border: solid 1px;
            color: white;
            margin: auto;
            
            }
        .inner_plans1{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding: 50px; */
        }
        .inline_plans{
            height:600px;
            width: 26%;
            background-color: white;
            margin: 15px;
        }
.online_plans{
    width: 70%;
    height: 99%;
    text-align: left;
    margin: auto;
    
}
.online_plans h5{
    font-size: 15px;
    padding:80px 0px 10px 0px ;
    letter-spacing: 2px;
}
.online_plans h1{
    font-size: 50px;
    color:#28abe3;
    padding: 0px 0px 10px 0px ;
}
.online_plans p{
    color: rgb(158, 158, 158);
}
.online_plans ul li{
    list-style-type: none;
    margin: 20px 0px;
    color: rgb(101, 100, 100);
}
.online_plans button{
    font-size: 13px;
    padding: 15px 40px;
    background-color: #28abe3;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    
}

@media screen and (max-width:425px){
    .main_plans{
        width: 100%;
        height:auto;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        /* position:; */
        padding-bottom:2250px ;
    }
    .overlayy{
        height:auto;
        padding-bottom:65px;
    }
    .inner_plans{
        width: 98%;
    }
    .inner_plans1{
        flex-wrap: wrap;
    }
    .inline_plans{
        width: 100%;
    }
    .online_plans{
        width: 70%;
    }



}






         /* FOOTER */
    .main_media{
        width: 100%;
        height: 100% ;
        background-color: rgb(30, 29, 29);
    }
    .inner_media1{
        height: 80%;
        /* border: solid 1px gray; */
        box-shadow: 0px 0px 2px gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(51, 51, 51, 0.583);
        
    }
    .inline_media{
        color: white;
        margin: 20px 0px 0px 0px ;
       
        font-family: 'Source Sans Pro', sans-serif;
        width: 400px;
        padding: 100px 30px;
        text-shadow: 0px 0px 10px black;
    
    
    }
    .inline_media h1{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .inline_media p{
        font-size: 17px;
        margin-bottom: 50px;
        color: rgb(149, 148, 148);
    
    }
    .inline_media1{
        color: white;
        margin: 10px 0px 18px 150px ;
       
        font-family: 'Source Sans Pro', sans-serif;
        width: fit-content;
        padding: 30px 0px;
        text-shadow: 0px 0px 3px black;
    }
    .inline_media1 h1{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .inline_media1 p a{
        font-size: 17px;
        margin-bottom: 20px;
        transition: all 1s;
        /* color: white; */
        color: rgb(149, 148, 148);
        /* margin: 20px; */
    
        text-decoration: none;
    
    }
    .inline_media1 p:hover a {
        color: #28abe3;
    }
    
    .inner_media2{
        height: 20%;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
    
    }
    .inner_media2 p{
        width: 300px;
        margin: auto;
        padding: 30px;
        font-size: 15px;
        text-align: center;
        color: gray;
    
    }
    .inner_media2 p a{
        text-decoration: none;
        color: #28abe3;
    }
    
    @media screen and (max-width:425px){
       
        .inner_media1{
            height: auto;
            /* border: solid 1px gray; */
            /* display: flex; */
            /* flex-wrap: wrap; */
            flex-direction: column;
            /* justify-content: center; */
            /* align-items: center; */
        }
        .inline_media{
            /* color: white; */
          margin: 100px 0px 0px 0px;
           width: 90%;
            height: auto;
            padding: 0;
        }
        .inline_media h1{
            font-size: 18px;
            margin-bottom: 30px;
        }
        .inline_media p{
            font-size: 15px;
            margin-bottom: 50px;
            /* color: rgb(149, 148, 148); */
            width: 100%;
        
        }
        .inline_media1{
            color: white;
            /* margin: 10px 0px 0px 50px ; */
            margin:0px 0px 50px 0px;
            font-family: 'Source Sans Pro', sans-serif;
            width:90%;
            padding: 0px;
        
        }
        .inline_media1 h1{
            font-size: 16px;
            margin-bottom: 25px;
        }
        .inline_media1 p a{
            font-size: 14px;
            margin-bottom: 20px;
            transition: all 1s;
        }
        .inner_media2 p{
            width: 80%;  
  
          }
     
    }